
__pycache__/WF_create.cpython-310.pyc
__pycache__/fun_colors.cpython-310.pyc
dict.txt
temp_dict.txt
DATA/test.py
DICT/__pycache__/RBTree.cpython-310.pyc
PyTorch-Model/Models/hi.txt
PyTorch-Model/testing/4000_checkpoint.tar
PyTorch-Model/testing/utterances.jsonl
formatted_movie_lines.txt
